# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# auto build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.prod

.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# personal files
userful_links.txt
src/fullList.json

# IDE tools
.vscode
.idea
yarn.lock

# Cypress
packages/test/node_modules/
packages/test/cypress/screenshots
packages/test/cypress/videos
