services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: rule-interface
    ports:
      - '3000:3000'
    env_file:
      - .env
    volumes:
      - './src/:/app/src/'
