.feedback-container {
    position: absolute;
    left: 0;
    width: 100vw;
}

.display-flex {
    display: flex;
}

.hide {
    display: none;
}

.feedback-left-block {
    display: flex;
    justify-content: end;
    align-items: center;
}

.feedback-right-block {
    display: flex;
    align-items: center;
}
